.fullpage{
    justify-content: center;
    margin-top: 20px;

}

.space {
margin-bottom: 10px;

}

.h1 {
    margin-bottom: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.moreinfo {
    
    justify-self: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 250px;
    width: 550px;
    display: flex;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 6px 20px #9f38ff2b;
    flex-direction: column;
    
}

.moreinfo > p{
    margin: 20px;
    color: rgb(68, 68, 68);
}






