.fullcode{
    background: url('/src/components/images/scotland\ photo.jpg') center center/cover
    no-repeat;
    height:  70vh;
    width:  100%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit:  contain;
}

h1 {
    text-align: center;
    padding-top: 12px;
    
}

.test{
    justify-self: center;
}