.body {
    background-color: #ffffff;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    padding-bottom: 1rem ;
    border-radius: 10px;
    border-color: #6e6e6e;
    border-style: solid;
    border-width: 0.5px;
}


.Con_title {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.entery{
    background-color: grey;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    color: white;
    margin: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

.entery:hover{
    background-color: rgb(72, 72, 72);
    transition: all 0.1s ease-in-out;
}

.h3{
    font-weight: 300;
}