* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
 

 .Footer{
   position: absolute;
   bottom: 0;
 }

 .App{
  background: no-repeat center/cover fixed;
 }

 .background1{
  background-image: url('/src/components/images/scotland\ photo.jpg');
 }

 .background2{
  background-image: url('/src/components/images/background2.JPG');
 }

 .background3{
  background-image: url('/src/components/images/background3.JPG')
 }

 .background4{
  background-image: url('/src/components/images/background4.JPG')
 }